# Ignorer les fichiers inutiles pour Docker
target/
.idea/
*.iml
.git/
.gitignore
logs/
*.log

# Conserver le sensor_data.json dans le contexte Docker
!sensor_data.json

# Fichiers Windows
Thumbs.db
desktop.ini

# Documentation
README.md
*.md

